.category{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   border: 1px solid grey;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}
.icons{
   font-size: 30px;
   color: #FAF9F6;
}
p{
   color: #FAF9F6;
}